body
{
    background-color: #444444;
    color: white;
    width: 90vw;
    height: 90vh;
}

input
{
    background-color: transparent;
    color: white;
}

.whole
{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0px 55px;

    border: 1px solid green;
    width: 100%;
}

.input
{
    display: inline-flex;
    flex-direction: column-reverse;
}
